<h1 class="text-center">
  Cloudstarter</h1>
<h3 class="text-center">A cloudapi project</h3>

<!--
<form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
  <div class="row">
    
 <div class="input-field col s12">
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />
        <div *ngIf="f.submitted && !email.valid" class="help-block">email is required</div>
      </div>
    </div>
    <div class="input-field col s12">
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Login</button>
    </div>
  </div>
</form> -->

<div class="row">
  <div class="input-field col s12">
  <button  (click)="testrestapi()" class="btn btn-primary text-center">Facebook</button>
  
</div>



<footer>
  <p>Mo Bouzim - <a href="https://github.com/mo-norant/cloudapiproject">Githubpage</a></p>
</footer>