
<md-toolbar>

  <span>Cloud Api Project</span>
    <span>Weather and free Wifi hotspots</span>


  <span class="spacer"></span>
  
  <span [hidden]="!showname" class="namelabel">Hi, {{name}}</span>
  <button md-icon-button [mdMenuTriggerFor]="menu">

<md-icon>more_vert</md-icon>
</button>


  <md-menu #menu="mdMenu">

    <button routerLink="https://github.com/mo-norant/cloudapiproject" md-menu-item>
    <md-icon>code</md-icon>
    <span>Githubpage</span>
  </button>

    


  </md-menu>




</md-toolbar>

